<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GeneticSharp.Extensions.Properties.Settings.GAConnectionString"
            connectionString="Data Source=FLUX\SQL14;Initial Catalog=GA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>